.title{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.title-kr{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-sub{
    font-size: 90px;
    color: #2124c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    width: 100%;
    height: 700px;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin: 0 0 0 0;
    background-color: bisque;
}